extends layout

block content

  .container-index
    div.container-msgs
      div.welcome-msg Welcome to our club. Below are the reviews that our members have given about us ! 
      div.guide Members from status "member" will be able to see the author of the comments !
    

    if signedInUser 
      button.btn.btn-primary.addCommentBtn(type="button") #[a(href="/comments") Add a Comment]

    div.comment-list
      h1 User reviews:
      dl.comments
        each comment in comments 
          .comment 
            dd.commentComment #{comment.comment}
            dt.commentInfo 
              if signedInUser 
                if (signedInUser.status === "Member" || signedInUser.status === "VIP")
                  div.commentInfo_userName
                    div Author: #[a(href=comment.user.url) #{comment.user.user_name}]  
                else 
                  div.commentInfo_userName
                    div Author:Hidden    
              else
                div.commentInfo_userName
                  div Author: Hidden   
              div.commentInfo_datePublished
                 div #{comment.date_added_formatted}





            



            

           
  
