extends layout

block content

  .container-index

    div.welcome-msg Welcome to our club. Below are the reviews that our members have given about us !

    div.comment-list
      h1 User reviews:
      dl.comments
        each comment in comments 
          .comment 
            dd.commentComment #{comment.comment}
            dt.commentInfo 
              if signedInUser 
                if (signedInUser.status === "Member" || signedInUser.status === "VIP")
                  div.commentInfo_userName
                    div Author: #[a(href=comment.user.url) #{comment.user.user_name}]  
                else 
                  div.commentInfo_userName
                    div Author:Hidden    
              else
                div.commentInfo_userName
                  div Author: Hidden   
              div.commentInfo_datePublished
                 div #{comment.date_added_formatted}





            



            

           
  
