:root {
  font-size: 16px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.navbar {
  justify-content: space-between;
  padding-right: 4rem;
  padding-left: 2rem;
}
.sign-in {
  text-decoration: none;
}
